<% @ideas.each do |idea| %>
<hr>
  <div class="card" style="width: 58rem;">
    <div class="card-body">
      <h5 class="card-title"><%= idea.title %></h5>
      <p class="card-text"><%= idea.description %></p>

      <a href="<%= idea_path(idea) %>%" class="card-link">Show</a><br>
      
      <small class="card-subtitle mb-2 text-muted">Created by User Id #<%= idea.user_id %> @ <%= time_ago_in_words idea.created_at %> ago</small>


      <%= link_to "Edit", edit_idea_path(idea), class: "btn btn-primary" %>

      <%= link_to(
          'Delete',
          idea_path(idea),
          method: :delete,
          data: {
            confirm: 'really delete?'
          },
          class: "btn btn-danger"
        )
      %>

    </div>
  </div>
<% end %>