<h1><%= @idea.title %></h1>

<p><%= @idea.description %></p>

<p><small>Posted <%= time_ago_in_words @idea.created_at %> ago</small></p>

<div class="owner-controls mb-4">
  <%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-primary" %>

      <%= link_to(
          'Delete',
          idea_path(@idea),
          method: :delete,
          data: {
            confirm: 'really delete?'
          },
          class: "btn btn-danger"
        )
      %>
</div>

<h4>Reviews</h4>

<%= form_for [@idea, @review] do |f| %>

  <div>
    <%= f.text_area(
      :body,
      cols: 60,
      rows: 6,
      placeholder: "What is your review of this idea?"
    ) %>
  </div>
  <%= f.submit "Submit" %>
<% end %>

<div class="review-list">
  <% @reviews.each do |review| %>
    <div>
      <small>
        <strong>
          <%= review.user&.first_name || "[DELETED]"%> wrote:
        </strong>
      </small>
      
      <p>
        <%= review.body %> <br />
        <small>
          Posted <%= time_ago_in_words(review.created_at) %> ago
        </small>
        <br>
        <% if can?(:delete, review) %>
        <%= link_to(
              "Delete",
              idea_review_path(@idea.id, review.id),
              method: :delete,
          data: {
            confirm: 'really delete?'
          },
          class: "btn btn-danger"
        )
      %>
    <% end %>
    </div>
  <% end %>